{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}{{title}}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <ul> 
               
                <li>
                        <a href="{%url 'posts:post_list_url'%}" {%if source == 'home'%} class="active" {%endif%}>home</a>
                </li>
                <li>
                        <a href="{%url 'account:dash_url'%}" {%if source == 'dash'%} class="active" {%endif%}>dash</a>
                </li>
                <li>
                    <a href="{% url 'posts:most_rated_posts_url'%}" {%if source == 'most_rated_posts'%} class="active" {%endif%}>top rated posts</a>
                </li>
                
                {%if not user.is_authenticated%}
                <li class='left'>
                    <a href="{%url 'account:register_url'%}" {%if source == 'register'%} class="active" {%endif%}>Register</a>
                </li>
                <li class="left">
                    <a href="{%url 'account:login_url'%}" {%if source == 'login'%} class="active" {%endif%}>login</a>
                </li>
                
                {%else%}
                <li class="left">
                    <a href="{%url 'account:logout_url'%}" >logout</a>
                </li>
                <li class="right">
                        <a href="{% url 'account:edit_info_url' user.username%}" {%if source == 'edit_profile'%} class="active" {%endif%}>{% if user.get_full_name%}{{user.get_full_name}}{%else%}{{user.username}}{%endif%}</a>
                </li>
                <li >
                        <a href="{% url 'posts:create_post_url'%}" {%if source == 'create_post'%} class="active" {%endif%}>sharea an idea</a>
                </li>
                <li>
                    <a href="{%url 'account:profiles_list_url'%}" {%if source == 'users_list'%} class="active" {%endif%}>search user</a>
                </li>
                {%endif%}
            </ul>
        </nav>
    </header>
    {%if messages%}
    {% for message in messages %}
    <div>{{message.tags}}</div>
    <hr>
    <div>{{message}}</div>

    {%endfor%}
    {%endif%}
    {%block body%}
    {%endblock%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{%block js%}
{%endblock%}
</body>
</html>