{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}{{title}}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                        <a href="{%url 'account:dash_url'%}" {%if source == 'dash'%} class="active" {%endif%}>dash</a>
                </li>
                <li>
                    <a href="#" {%if source == 'active users'%} class="active" {%endif%}>most active users</a>
                </li>
                <li>
                    <a href="#" {%if source == 'top images'%} class="active" {%endif%}>top rated images</a>
                </li>
                {%if not user.is_authenticated%}
                <li class='left'>
                    <a href="{%url 'account:register_url'%}" {%if source == 'register'%} class="active" {%endif%}>Register</a>
                </li>
                <li class="left">
                    <a href="{%url 'account:login_url'%}" {%if source == 'login'%} class="active" {%endif%}>login</a>
                </li>
                {%else%}
                <li class="left">
                    <a href="{%url 'account:logout_url'%}" >logout</a>
                </li>
                {%endif%}
            </ul>
        </nav>
    </header>
    {%if messages%}
    {% for message in messages %}
    <div>{{message.tags}}</div>
    <hr>
    <div>{{message}}</div>

    {%endfor%}
    {%endif%}
    {%block body%}
    {%endblock%}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>