
{% extends "base.html" %}
{%load tags%}
{% block body %}
{%load thumbnail%}

<div style="margin: 4%;">
 
  {% thumbnail profile.image '150x150'  upscale=False as im%}
  <img src="{{im.url}}"  >
  {%endthumbnail%} 
  <h4 style="display:inline"><a href="{%url 'account:user_detail_url' id=profile.id %}">{{profile}}</a></h4>
  {%if not state%}
  <button id='fol' type="button" onclick="follow(this)">
    {%if user in profile.user.followers.all %}
    UnFollow
    {%else%}
    Follow
    {%endif%}
  </button>
  {%endif%}
 </div>

{%for post in posts %}
<div class="post">
  <div >
  {% thumbnail post.profile.image '50x50'  upscale=False as im%}
  <img src="{{im.url}}" class='personal_iamge' >
  <a href="{%url 'account:user_detail_url' id=post.profile.id %}">{{post.profile}}</a> 
  {%endthumbnail%}
</div>
<a href="{{post.get_absolute_url}}">{{post.title}}</a> 
<br>
{% thumbnail post.image '400' as im%}
<img src="{{im.url}}">
{%endthumbnail%}

{%if post.video%}
<video width="400"  controls>
    <source src="{{post.video.url}}" type="video/mp4">
    
  Your browser does not support the video tag.
  </video>
  <br>
{%endif%}

{%if post.content%}
{{post.content|linebreaks}}

{%endif%}

{{ post.created}}
{% with post.user_likes.count as likes_num %}
<a href={{post.get_liking_users}} style="display: block" class='num-{{forloop.counter}}'>{{likes_num}} like{{ likes_num|pluralize }}</a>
<button type="button"  data-id="{{post.id}}" data-counter='num-{{forloop.counter}}' onclick="like(this)">{{post|is_liked:user}}</button>
{%endwith%}
<br>
 click <a href="{{post.get_absolute_url}}">here</a> or on the post title so you can comment or see comments on the post 
<hr>
</div>

{%endfor%}



{% endblock%}
{%block js%}

<script>

function like(element){
  
  var counter = element.getAttribute('data-counter')
  $.ajax({
    type: 'POST',
    url: '{%url 'posts:like_post_url' %}',
    data: {
      id: element.getAttribute('data-id')
    },
    beforeSend: function(request){
      request.setRequestHeader('X-CSRFToken', '{{csrf_token}}')
    },
    
    success:function(data){
      
      document.querySelector('.'+counter).innerHTML = data.total_likes +'likes'
      element.innerHTML = data.action
    }
  })
}

function follow(element){
    $.ajax({
      type: 'POST',
      url: '{%url 'account:follow_user_url'%}',
      data:{
        'id': {{profile.id}},
      },
      beforeSend: function(request){
        request.setRequestHeader('X-CSRFToken', '{{csrf_token}}')
      },
      success: function(data){
        element.innerHTML = data.action
        console.log(data.action)
      }
    })
}
</script>
{%endblock%}